--extra-index-url https://download.pytorch.org/whl/cu121
torch>=2.4.1
torchvision
accelerate
gradio>=6
gradio-client
huggingface-hub
transformers>=4.50.0,<5
safetensors
sentencepiece
# xformers
# flash-attn
protobuf
pysbd
sacremoses
auto-gptq
einops
# llama-cpp-python
bitsandbytes
numpy<2.0.0
Pillow
requests
tiktoken
pytest
