--extra-index-url https://download.pytorch.org/whl/cu121
torch==2.2.2
torchvision
accelerate
gradio
gradio-client
huggingface-hub
transformers>=4.42.0
safetensors
sentencepiece
# xformers
# flash-attn
protobuf==3.20.3
pysbd
sacremoses
auto-gptq
einops
llama-cpp-python
bitsandbytes
numpy<2.0.0
Pillow
requests
tiktoken
pytest
