--extra-index-url https://download.pytorch.org/whl/cu118
--extra-index-url https://huggingface.github.io/autogptq-index/whl/cu118
torch==2.2.2
accelerate
gradio
gradio-client
huggingface-hub
transformers>=4.40.0
safetensors
sentencepiece
xformers
flash-attn
protobuf==3.20.3
pysbd
sacremoses
auto-gptq
einops
